<h1><%= @task.title %></h1>
<div>
  <p><%= @task.details %></p>
</div>
<div>
  <%= @task.completed ? "[x] Task is completed" : "[ ] Task is yet to be completed" %>
  <br><br>
  <%= link_to "Edit this task mofo", edit_task_path %>
</div>
